body {
    font-family: Helvetica, Arial, sans-serif;
}
#targets, #interfaces, #graphs {
    border: 1px solid #444;
    height: 90%;
    overflow: scroll;
    padding: 10px;
}
#targets {
    width: 280px;
    position: absolute;
    left: 0px;
    top: 0px;
}
#interfaces {
    width: 280px;
    position: absolute;
    left: 300px;
    top: 0px;
}
#graphs {
    width: 650px;
    position: absolute;
    left: 600px;
    top: 0px;
}
.graph {
    width: 600px;
    height: 200px;
    margin: 10px;
}
